.productdetails{
    width:400px;height:250px;
}
.mycount{
    display: flex;
    justify-content:left;
    margin-top:15px;
    margin-bottom:15px;
}
.welcome-card{
    font-size:20px;
}
ion-button{
    height:30px;
}
.ion{
    font-size:30px;
}
